<!DOCTYPE html>
<html lang="en" ng-app="kalahApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="lib/bootstrap.min.css">

    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>

    <title>Kalah Game</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-secondary fixed-top">
    <a class="navbar-brand" href="#">Kalah Game</a>
</nav>
<div class="container-fluid " style="margin-top:70px">
    <kalah-component></kalah-component>
</div>
</body>
</html>